{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'res_log.css' %}">
</head>
<body>
    <div class="Div_Log_Container"> 
        
        <form action="/login" method="post" name="Log_Form_Name" id="My_Log_Form" >
            {% csrf_token %}
            {{ form.as_p }}
            <p class="Log_P">LogIn</p>
            <div class="Log_Form_fName  Log_Form_Inp">
                <input type="email" name="email" class="Log_fName_Inp" autocomplete="email" placeholder="Enter Your Email"> 
            </div>
            <div class="Log_Form_lName  Log_Form_Inp ">
                <input type="password" name="password1" class="Log_lName_Inp" autocomplete="password1" placeholder="Enter Your Password">
            </div>
            <div class=" Log_Form_Sub Log_Form_Inp">
                <input type="submit" name=" Log_Send_Sub" id="Log_Send_Id_Sub" class="Log_Send_But" value="Sing In">
            </div>
            <div class="Register_Link ">
                <a href="signup">Create A New Account</a>
            </div>

        </form>

    </div>
    
</body>
</html>